


<div class="card" id="search-results">
    <div class="card-header" id="searchResultHeader">
        <div class="row">
            <div class="col-7">
                <span id="searchResultCount">
                    <span class="d-none d-md-none d-lg-block mt-2">
                        Architect (1106 Results)
                    </span>
                    <span class="d-block d-md-none mt-2">
                        1106 Results
                    </span>
                </span>
            </div>

                <div class="col-5">
                    <select id="sortDropdown" class="form-control sort-element" onchange="rolSearch.sortElementChanged(this)" aria-label="Sort Results">
                        <option>Sort by</option>
                                <option value="Architect Firstname (a - z)">Architect Firstname (a - z)</option>
                                <option value="Architect Firstname (z - a)">Architect Firstname (z - a)</option>
                                <option value="Architect Surname (a - z)">Architect Surname (a - z)</option>
                                <option value="Architect Surname (z - a)">Architect Surname (z - a)</option>
                                <option value="Practice Name (a - z)">Practice Name (a - z)</option>
                                <option value="Practice Name (z - a)">Practice Name (z - a)</option>
                    </select>
                </div>

            <script>

                var subsequentPageLoad = window.localStorage.getItem('loaded' + getPageGuid());
                if (!subsequentPageLoad && !false){
                    document.getElementById("searchResultHeader").style.display = 'none';
                }

            </script>
        </div>
    </div>
    <div class="card-body">

            <ul class="list-unstyled">
                    <li class="media mb-3 border-bottom pb-3">
                        <div class="media-body">
                            <strong class="mt-0 mb-1">Bahar Seyedtabatabaei (091365K)</strong> <br />
Bisset Adams Architects <br />
17-21 Wenlock Rd, London, N1 7GT <br /> England<br />
                        </div>
                        <a href="/Architect/091365K" target="_blank" aria-label="View Bahar Seyedtabatabaei" class="btn btn-primary">View</a>
                    </li>
                    <li class="media mb-3 border-bottom pb-3">
                        <div class="media-body">
                            <strong class="mt-0 mb-1">Borja Nunez-Villaveiran Blanco (088906G)</strong> <br />
Sybarite UK Ltd <br />
The Aircraft Factory, 100 Cambridge Grove, London, W6 0LE <br /> England<br />
                        </div>
                        <a href="/Architect/088906G" target="_blank" aria-label="View Borja Nunez-Villaveiran Blanco" class="btn btn-primary">View</a>
                    </li>
                    <li class="media mb-3 border-bottom pb-3">
                        <div class="media-body">
                            <strong class="mt-0 mb-1">Brian Raymond Turner (046861D)</strong> <br />
Brian Turner Architect <br />
7B5 Kingsbury House, Fridays Cross Mews, Christchurch Road, Ringwood, Hampshire, BH24 1DG <br /> England<br />
                        </div>
                        <a href="/Architect/046861D" target="_blank" aria-label="View Brian Raymond Turner" class="btn btn-primary">View</a>
                    </li>
                    <li class="media mb-3 border-bottom pb-3">
                        <div class="media-body">
                            <strong class="mt-0 mb-1">Bozana Komljenovic (064691A)</strong> <br />
- <br />4 Wray Crescent, London, N4 3LP <br /> England<br />
                        </div>
                        <a href="/Architect/064691A" target="_blank" aria-label="View Bozana Komljenovic" class="btn btn-primary">View</a>
                    </li>
                    <li class="media mb-3 border-bottom pb-3">
                        <div class="media-body">
                            <strong class="mt-0 mb-1">Bryn Warlow (072831D)</strong> <br />
Hazle McCormack Young LLP <br />
Leap House, Frog Lane, Tunbridge Wells, Kent, TN1 1YT <br /> England<br />
                        </div>
                        <a href="/Architect/072831D" target="_blank" aria-label="View Bryn Warlow" class="btn btn-primary">View</a>
                    </li>
            </ul>


            <div class="row">
                <div class="col-md-12">

                    <nav class="text-center d-none d-md-block d-lg-block">

                            <button class="btn btn-primary float-left mr-2" aria-label="First page" onclick="rolSearch.page(0)" style="padding: 5.5px 8px;"><i class="fas fa-chevron-double-left"></i></button>





                            <button class="btn btn-primary " aria-label="First page" onclick='rolSearch.page(0)' style=" padding-left: 11px; padding-right: 11px;">1</button>
                            <button class="btn btn-primary active disabled" aria-label="First page"  style=" padding-left: 11px; padding-right: 11px;">2</button>
                            <button class="btn btn-primary " aria-label="First page" onclick='rolSearch.page(2)' style=" padding-left: 11px; padding-right: 11px;">3</button>
                            <button class="btn btn-primary " aria-label="First page" onclick='rolSearch.page(3)' style=" padding-left: 11px; padding-right: 11px;">4</button>
                            <button class="btn btn-primary " aria-label="First page" onclick='rolSearch.page(4)' style=" padding-left: 11px; padding-right: 11px;">5</button>
                            <button class="btn btn-primary " aria-label="First page" onclick='rolSearch.page(5)' style=" padding-left: 11px; padding-right: 11px;">6</button>
                            <button class="btn btn-primary " aria-label="First page" onclick='rolSearch.page(6)' style=" padding-left: 11px; padding-right: 11px;">7</button>
                            <button class="btn btn-primary " aria-label="First page" onclick='rolSearch.page(7)' style=" padding-left: 11px; padding-right: 11px;">8</button>
                            <button class="btn btn-primary " aria-label="First page" onclick='rolSearch.page(8)' style=" padding-left: 11px; padding-right: 11px;">9</button>




                            <button class="btn btn-primary float-right ml-2" aria-label="Last page" onclick="rolSearch.page(222-1)" style="padding: 5.5px 8px;"><i class="fas fa-chevron-double-right"></i></button>



                    </nav>


                    <nav class="text-center d-md-none d-lg-none">

                            <button class="btn btn-primary float-left mr-2" aria-label="First page" onclick="rolSearch.page(0)" style="padding: 5.5px 8px;"><i class="fas fa-chevron-double-left"></i></button>
                            <button class="btn btn-primary float-left" aria-label="Previous page" onclick="rolSearch.pageBack()" style="padding: 5.5px 11px;"><i class="fa fa-chevron-left"></i></button>


                            <button class="btn btn-primary float-right ml-3" aria-label="Last page" onclick="rolSearch.page(222-1)" style="padding: 5.5px 8px;"><i class="fas fa-chevron-double-right"></i></button>
                            <button class="btn btn-primary float-right" aria-label="Next page" onclick="rolSearch.pageForward(222)" style="padding: 5.5px 11px;"><i class="fa fa-chevron-right"></i></button>



                    </nav>
                </div>
            </div>
            <div class="row">
                <div class="col-md-8">
                        <p class="d-block text-right mt-4">
                            Page 2 of 222
                        </p>
                </div>
                <div class="col-md-4">
                    <div class="input-group mt-3">
                        <input type="text" id="goToPageInput" class="form-control" placeholder="Go to page" aria-label="Go to page">
                        <div class="input-group-append">
                            <button class="btn btn-sm btn-primary" type="button" onclick="if ($('#goToPageInput').val() > 0) { rolSearch.page($('#goToPageInput').val() - 1); }">Go</button>
                        </div>
                    </div>
                </div>
            </div>

    </div>
</div>

<script>
    if (/Android|webOS|iPhone|iPad|iPod|BlackBerry|IEMobile|Opera Mini/i.test(navigator.userAgent)) {
        var searcResults = document.getElementById("search-results");
        if (searcResults) {
            searcResults.scrollIntoView();
        }
    }
</script>