/* =1. DEFAULTS
---------------------------------------------------------- */

* {background: white !important;color: black !important; font-family:Arial, Helvetica, sans-serif} /*Make sure all elements have white background / black text*/
body {font-size:10pt;}
h1, hr, input {display:none;}
h2 {margin:0.75em 0em;font-size:13pt;}
table {width:100%; margin:1em 0}
table td, table th {border:1px solid #999;}
table th {width:30%;text-align:left;}

div.cmDiv,
p.pagehelp,
div#applicationTools,
div#searchtools,
div#searchfilters,
div#profileTools,
div.consulteeCommentsTools,
p.pager a,
p.pager span,
p.pager strong,
ul.tabs,
p.consulteeStatus {display:none;}

p.pager.top span.showing, 
p.pager.top span.showing strong{display:inline-block;}

/* =2. PRINTED SEARCH RESULTS
---------------------------------------------------------- */

/*Search result spacing*/
div.searchresult {margin-top:0.5em;padding-bottom:0.5em;border-bottom:1px solid #e7e7e7;}
div.searchresult h3 {margin:0;padding:0;}

/*Address info*/
div.searchresult p.address {
	margin:0;
	padding-top:0.15em;
	font-weight:normal;
	color:#000;
}

/*Meta info*/
div.searchresult p.metaInfo {
	font-size:90%;
	color:#666;
	margin:0;
	padding-top:0.25em;
}

/*Meta info divider*/
div.searchresult p.metaInfo span.divider {
	margin:0em 0.15em;
	font-size:90%;
	color:#D1D1D1;
}

/* =3. HELP PAGE TEXT
---------------------------------------------------------- */

/*Emphasise data input examples*/
p.example {font-style:italic;}