@import url('https://fonts.googleapis.com/css?family=Varela+Round');
@import url('https://fonts.googleapis.com/css?family=Raleway:400,500,600');
/** Mixins/helper classes **/
span.caret {
  display: inline-block !important;
  width: 0 !important;
  height: 0!important;
  margin-left: 2px!important;
  vertical-align: middle !important;
  border-top: 4px dashed !important;
  border-right: 4px solid rgba(0, 0, 0, 0) !important;
  border-left: 4px solid rgba(0, 0, 0, 0) !important;
  background: none !important;
  padding: 0 !important;
  box-sizing: border-box;
}
span.chevron {
  display: inline-block !important;
  width: 0 !important;
  height: 0!important;
  margin-left: 2px!important;
  margin-top: 5px;
  vertical-align: middle !important;
  border-left: 4px dashed !important;
  border-top: 4px solid rgba(0, 0, 0, 0) !important;
  border-bottom: 4px solid rgba(0, 0, 0, 0) !important;
  background: none !important;
  padding: 0 !important;
  box-sizing: border-box;
}
.removeBgImg {
  background-image: none;
}
.inlineLayout {
  display: inline !important;
}
.stackedLayout {
  display: block !important;
}
.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}
/** SKINNING CUSTOMISATIONS - STARTS **/
div#idox div#pa div#header .container div#headertitle h1,
div#idox div#pa div#header .container div#headertitle span {
  font-family: 'Raleway', Arial, Helvetica, sans-serif !important;
  font-size: 35.5px !important;
  font-weight: 600 !important;
  letter-spacing: 1px;
}
div#idox div#pa div#breadcrumbs {
  display: none;
}
div#idox div#pa div#footer .container div#footercontent {
  display: none;
}
div#idox div#pa div#footer .container div#links ul {
  font-family: 'Raleway', Arial, Helvetica, sans-serif !important;
  font-weight: 500;
}
div#idox div#pa div#footer .container div#links ul li:not(:last-child) {
  margin: 0 0 16px 0 !important;
}
div#idox div#pa div#footer .container div#links ul li a {
  text-decoration: underline;
}
div#idox div#pa div#footer .container div#links ul li a:hover,
div#idox div#pa div#footer .container div#links ul li a:active,
div#idox div#pa div#footer .container div#links ul li a:focus {
  text-decoration: none;
  color: #09a9a4 !important;
}
body#popup div#idox div#pa div#popupHeader h1,
body#popup div#idox div#pa div#consulteePopupHeader h1 {
  background-color: #066e6b;
}
/** SKINNING CUSTOMISATIONS - ENDS **/
/** Page content **/
body {
  background: #ffffff;
  font-family: 'Varela Round', sans-serif;
  font-size: 15px;
  line-height: 1.42;
  color: #333333 !important;
}
div#idox {
  margin: 0;
}
div#idox div#pa {
  /** Specific page content **/
  /** Buttons **/
  /** Forms **/
  /** Tables **/
  /** Message boxes**/
  /** Specific overrides **/
}
div#idox div#pa a {
  color: #066e6b !important;
}
div#idox div#pa a:active,
div#idox div#pa a:hover,
div#idox div#pa a:focus {
  color: #09a9a4 !important;
}
div#idox div#pa .container {
  width: 990px;
  padding: 20px 0;
  background: #ffffff;
  box-sizing: border-box;
}
div#idox div#pa div#header {
  background: #ffffff;
  height: auto !important;
  width: 100%;
  margin: 0 auto 0 auto !important;
  padding: 0;
  border-top: none;
  border-bottom: 3px solid #acdbe0;
}
div#idox div#pa div#header .container {
  background: none;
  width: 990px;
  padding: 46px 0 18px 0;
}
div#idox div#pa div#header .container div#logo {
  margin-top: 0;
  margin-left: 0;
  float: left;
}
div#idox div#pa div#header .container div#logo img {
  height: 63px;
  width: 179px;
}
div#idox div#pa div#header .container div#headertitle {
  margin-top: 25px;
  margin-right: 0;
  float: right;
}
div#idox div#pa div#header .container div#headertitle h1,
div#idox div#pa div#header .container div#headertitle h2,
div#idox div#pa div#header .container div#headertitle h3,
div#idox div#pa div#header .container div#headertitle h4,
div#idox div#pa div#header .container div#headertitle h5,
div#idox div#pa div#header .container div#headertitle p,
div#idox div#pa div#header .container div#headertitle span {
  position: static;
  top: auto;
  right: auto;
  color: #066e6b;
}
div#idox div#pa div#header .container div#headertitle h1,
div#idox div#pa div#header .container div#headertitle span {
  font-family: "Varela Round", sans-serif;
  font-size: 42px;
}
div#idox div#pa div#breadcrumbs {
  padding: 0;
  font-size: 1em;
  font-weight: normal;
  background: #ffffff;
}
div#idox div#pa div#breadcrumbs ul {
  margin: 0;
  list-style: none;
}
div#idox div#pa div#breadcrumbs ul li {
  padding: 0;
  display: inline;
  color: #333333;
}
div#idox div#pa div#breadcrumbs ul li a {
  color: #066e6b;
}
div#idox div#pa div#breadcrumbs ul li a:active,
div#idox div#pa div#breadcrumbs ul li a:hover,
div#idox div#pa div#breadcrumbs ul li a:focus {
  color: #09a9a4;
}
div#idox div#pa div#pageheading h1 {
  color: #000000;
  font-size: 1.5em;
  font-weight: normal;
  margin-bottom: 0.5em;
  padding: 0.8em 0 0.1em 0;
}
div#idox div#pa .tabcontainer h2 {
  color: #000000 !important;
}
div#idox div#pa div#footer {
  background: #ffffff;
  height: auto;
  width: 100%;
  margin: 30px auto 0 auto !important;
  padding: 0;
  border-top: 1px solid #066e6b;
  font-size: 12.5px;
}
div#idox div#pa div#footer .container {
  background: none;
  width: 990px;
  padding: 16px 0 30px 0;
}
div#idox div#pa div#footer .container div#footercontent {
  float: left;
  margin-left: 0;
}
div#idox div#pa div#footer .container div#footercontent p {
  margin: 0;
}
div#idox div#pa div#footer .container div#footercontent p,
div#idox div#pa div#footer .container div#footercontent a {
  color: #333333;
}
div#idox div#pa div#footer .container div#links {
  float: right;
  margin-right: 0;
}
div#idox div#pa div#footer .container div#links ul {
  list-style: none;
  margin: 0;
}
div#idox div#pa div#footer .container div#links ul li {
  display: inline !important;
  padding: 0;
  display: block !important;
}
div#idox div#pa div#footer .container div#links ul li:not(:last-child) {
  margin-right: 15px;
}
div#idox div#pa div#footer .container div#links ul li a {
  color: #066e6b !important;
}
div#idox div#pa div#footer .container div#footercontent {
  float: right;
  margin-right: 0;
}
div#idox div#pa div#footer .container div#links {
  float: left;
  margin-left: 0;
}
div#idox div#pa div#footer .container div#footercontent,
div#idox div#pa div#footer .container div#links {
  float: none !important;
}
div#idox div#pa ul#atoz li.selected {
  background: #993399;
  border-radius: 4px;
  border-color: #993399;
}
div#idox div#pa ul#atoz a {
  border-radius: 4px;
}
div#idox div#pa ul#atoz a:active,
div#idox div#pa ul#atoz a:hover,
div#idox div#pa ul#atoz a:focus {
  background: #7c006b;
  color: #ffffff !important;
}
div#idox div#pa div#calendarDiv div.datepicker {
  border: 1px solid #ccc;
  border: 1px solid rgba(0, 0, 0, 0.15);
  border-radius: 5px;
  -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
}
div#idox div#pa div#calendarDiv div.datepicker > table > tbody > tr > td {
  padding: 0;
}
div#idox div#pa div#calendarDiv div.datepicker table {
  font-family: 'Varela Round', sans serif !important;
  font-size: 14px;
  border: none !important;
  border-radius: 3px;
  width: 100%;
}
div#idox div#pa div#calendarDiv div.datepicker table a.calendarLinkColor {
  color: #fff !important;
}
div#idox div#pa div#calendarDiv div.datepicker table a.currentmonthtextcolor {
  color: #444 !important;
}
div#idox div#pa div#calendarDiv div.datepicker table td {
  border: none;
  padding: 5px;
}
div#idox div#pa div#calendarDiv div.datepicker table#currentMonth {
  border-collapse: collapse;
}
div#idox div#pa div#calendarDiv div.datepicker table#currentMonth tr#monthNavigation {
  background: #993399 !important;
  /* background colour for 'currentMonth' table */
  color: #fff !important;
  font-weight: 400;
}
div#idox div#pa div#calendarDiv div.datepicker table#currentMonth tr#monthNavigation td {
  border: none !important;
  padding: 5px;
}
div#idox div#pa div#calendarDiv div.datepicker table#currentMonth tr#monthNavigation td#previousMonth a,
div#idox div#pa div#calendarDiv div.datepicker table#currentMonth tr#monthNavigation td#nextMonth a {
  font-size: 14px;
}
div#idox div#pa div#calendarDiv div.datepicker table#currentMonth tr#monthNavigation td#previousMonth {
  border-top-left-radius: 3px;
}
div#idox div#pa div#calendarDiv div.datepicker table#currentMonth tr#monthNavigation td#nextMonth {
  border-top-right-radius: 3px;
}
div#idox div#pa div#calendarDiv div.datepicker table#currentMonthDate {
  border-collapse: collapse;
}
div#idox div#pa div#calendarDiv div.datepicker table#currentMonthDate tr td {
  border: none !important;
  padding: 5px;
}
div#idox div#pa div#calendarDiv div.datepicker table#currentMonthDate tr td.cpDayColumnHeader {
  background: #efefef;
}
div#idox div#pa div#calendarDiv div.datepicker table#currentMonthDate tr td.cpDayColumnHeader span {
  color: #999 !important;
}
div#idox div#pa div#calendarDiv div.datepicker table#currentMonthDate tr td.cpCurrentMonthDate {
  background: #fefefe;
}
div#idox div#pa div#calendarDiv div.datepicker table#currentMonthDate tr td.cpCurrentMonthDate:active,
div#idox div#pa div#calendarDiv div.datepicker table#currentMonthDate tr td.cpCurrentMonthDate:hover,
div#idox div#pa div#calendarDiv div.datepicker table#currentMonthDate tr td.cpCurrentMonthDate:focus {
  background: #ebebff;
  border-radius: 5px;
}
div#idox div#pa div#calendarDiv div.datepicker table#currentMonthDate tr td.cpOtherMonthDate {
  border: none;
}
div#idox div#pa div#calendarDiv div.datepicker table#currentMonthDate tr td.cpOtherMonthDate a {
  color: #cecece !important;
}
div#idox div#pa div#calendarDiv div.datepicker table#currentMonthDate tr td.cpCurrentDate {
  background: #e6b3e6;
  /* bg colour for current date*/
  border-radius: 5px;
}
div#idox div#pa div#calendarDiv div.datepicker table#currentMonthDate tr td.cpTodayText {
  background: #efefef;
}
div#idox div#pa div#calendarDiv div.datepicker table#currentMonthDate tr td.cpTodayText a {
  color: #993399 !important;
}
div#idox div#pa div#calendarDiv div.time-picker li.selected {
  background: #e6b3e6;
}
div#idox div#pa #toolbar.js {
  box-shadow: none;
}
div#idox div#pa #toolbar.js ul.list {
  background: #f5f5f5;
  height: auto;
  padding: 0;
  border: 1px solid #ddd;
  border-bottom: 1px solid #b9b9b9;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  /*
                li#search ul.category li a:hover,
                li#search ul.category li a.active,
                li#apply ul.category li a:hover,
                li#apply ul.category li a.active,
                li#myprofile ul.subMenu li a:hover {
                    background-color:@toolbar-bg;
                }
                */
}
div#idox div#pa #toolbar.js ul.list li.main {
  padding: 16px !important;
  background: none;
  font-size: 0.9em;
  border-right: none !important;
}
div#idox div#pa #toolbar.js ul.list li.main:first-child {
  border-radius: 5px 0 0 5px;
}
div#idox div#pa #toolbar.js ul.list li.main > a,
div#idox div#pa #toolbar.js ul.list li.main > span {
  padding-left: 25px !important;
  color: #333333 !important;
  background: url("../images/sprite_colour.png") 0 -3px no-repeat;
}
div#idox div#pa #toolbar.js ul.list li.main#search span,
div#idox div#pa #toolbar.js ul.list li.main#apply span,
div#idox div#pa #toolbar.js ul.list li.main#myprofile span {
  padding: 0;
}
div#idox div#pa #toolbar.js ul.list li.main#search span.caret,
div#idox div#pa #toolbar.js ul.list li.main#apply span.caret,
div#idox div#pa #toolbar.js ul.list li.main#myprofile span.caret {
  margin-top: 7px;
  padding: 0 !important;
}
div#idox div#pa #toolbar.js ul.list li.main#myprofile span {
  background-position: 0 -37px;
}
div#idox div#pa #toolbar.js ul.list li.main#apply span {
  background-position: 0 -132px;
}
div#idox div#pa #toolbar.js ul.list li.main#applicationForms a {
  background-position: 0 -132px;
}
div#idox div#pa #toolbar.js ul.list li.main#loginLink a {
  background-position: 0 -67px;
}
div#idox div#pa #toolbar.js ul.list li.main#register a {
  background-position: 0 -99px;
}
div#idox div#pa #toolbar.js ul.list li.main#apply ul.subMenu {
  width: 200px;
}
div#idox div#pa #toolbar.js ul.list li.main#apply ul.subMenu li a {
  width: 160px;
}
div#idox div#pa #toolbar.js ul.list li#loggedIn {
  font-size: 0.9em;
  padding: 16px !important;
  color: #333333 !important;
  margin-left: -25px;
}
div#idox div#pa #toolbar.js ul.list li.main:active,
div#idox div#pa #toolbar.js ul.list li.main:hover,
div#idox div#pa #toolbar.js ul.list li.main:focus {
  background-color: #dddddd;
}
div#idox div#pa #toolbar.js ul.list ul.category,
div#idox div#pa #toolbar.js ul.list ul.subMenu {
  top: 48px;
  margin: 0;
  padding: 5px 0;
  width: 185px;
  font-size: 1em;
  border: 1px solid #ccc;
  border: 1px solid rgba(0, 0, 0, 0.15);
  border-radius: 5px;
  -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
}
div#idox div#pa #toolbar.js ul.list ul.category li,
div#idox div#pa #toolbar.js ul.list ul.subMenu li {
  background: none;
  padding: 0;
  width: 100%;
}
div#idox div#pa #toolbar.js ul.list ul.category li a,
div#idox div#pa #toolbar.js ul.list ul.subMenu li a,
div#idox div#pa #toolbar.js ul.list ul.category li a:hover,
div#idox div#pa #toolbar.js ul.list ul.subMenu li a:hover,
div#idox div#pa #toolbar.js ul.list ul.category li a:focus,
div#idox div#pa #toolbar.js ul.list ul.subMenu li a:focus,
div#idox div#pa #toolbar.js ul.list ul.category li a.active,
div#idox div#pa #toolbar.js ul.list ul.subMenu li a.active {
  border: none;
  padding: 10px 20px;
  margin: 0;
  line-height: 1.42;
  height: auto;
  float: none;
  display: inline-block;
  width: 145px;
  border-radius: 0;
}
div#idox div#pa #toolbar.js ul.list ul.category li a:hover,
div#idox div#pa #toolbar.js ul.list ul.subMenu li a:hover,
div#idox div#pa #toolbar.js ul.list ul.category li a:focus,
div#idox div#pa #toolbar.js ul.list ul.subMenu li a:focus,
div#idox div#pa #toolbar.js ul.list ul.category li a.active,
div#idox div#pa #toolbar.js ul.list ul.subMenu li a.active {
  background-color: #f5f5f5 !important;
}
div#idox div#pa #toolbar.js ul.list ul.category li a > span,
div#idox div#pa #toolbar.js ul.list ul.subMenu li a > span {
  width: 100%;
}
div#idox div#pa #toolbar.js ul.list ul.category li > ul.subMenu,
div#idox div#pa #toolbar.js ul.list ul.subMenu li > ul.subMenu {
  top: -6px;
  left: 185px;
}
div#idox div#pa #toolbar.js ul.list ul.category > li > a {
  background: #ffffff url('../images/ico_menu_arrow_horiz.gif') top 15px right 10px no-repeat;
}
div#idox div#pa ul.tabs > li {
  margin: 0;
}
div#idox div#pa ul.tabs > li a {
  color: #066e6b !important;
  background: none;
  padding: 10px !important;
  border: 1px solid rgba(0, 0, 0, 0);
  margin-right: 2px;
  border-radius: 3px 3px 0 0 !important;
}
div#idox div#pa ul.tabs > li a:active,
div#idox div#pa ul.tabs > li a:hover,
div#idox div#pa ul.tabs > li a:focus {
  background: #dedede;
  color: #000 !important;
  text-decoration: none;
  border-color: #dedede #dedede #ddd;
}
div#idox div#pa ul.tabs > li a.active,
div#idox div#pa ul.tabs > li a.active:active,
div#idox div#pa ul.tabs > li a.active:hover,
div#idox div#pa ul.tabs > li a.active:focus {
  color: #000 !important;
  border-color: #ddd;
  border-bottom: 1px solid rgba(0, 0, 0, 0);
  background: #fff;
  cursor: default;
}
div#idox div#pa ul.tabs > li > span {
  color: #777 !important;
  background: none !important;
  padding: 10px !important;
  border: 1px solid rgba(0, 0, 0, 0) !important;
  border-radius: 0;
  margin-right: 2px;
  border-radius: 3px 3px 0 0 !important;
  cursor: default;
}
div#idox div#pa ul.tabs > li .subtabs {
  background: #fefefe;
  padding: 7px 0;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
}
div#idox div#pa ul.tabs > li .subtabs li {
  padding: 0;
}
div#idox div#pa ul.tabs > li .subtabs li:first-child {
  margin-left: 15px;
}
div#idox div#pa ul.tabs > li .subtabs li > a {
  margin: 0;
  border: 1px solid rgba(0, 0, 0, 0);
  background: #fefefe;
  font-weight: normal;
  padding: 5px 10px !important;
  border-radius: 3px !important;
}
div#idox div#pa ul.tabs > li .subtabs li > a:active,
div#idox div#pa ul.tabs > li .subtabs li > a:hover,
div#idox div#pa ul.tabs > li .subtabs li > a:focus {
  background: #dedede;
  color: #000 !important;
  border-color: #dedede;
  font-weight: normal;
}
div#idox div#pa ul.tabs > li .subtabs li > a.active:active,
div#idox div#pa ul.tabs > li .subtabs li > a.active:hover,
div#idox div#pa ul.tabs > li .subtabs li > a.active:focus {
  color: #000 !important;
}
div#idox div#pa div.tabcontainer,
div#idox div#pa div.panel,
div#idox div#pa div#details,
div#idox div#pa div#referenceNumbers,
div#idox div#pa div#consultationFields,
div#idox div#pa div#vehicleDetails,
div#idox div#pa div#activitiesDetails,
div#idox div#pa div#noticeDetails,
div#idox div#pa div#noticeDates,
div#idox div#pa div#dates,
div#idox div#pa div#searchfilters,
div#idox div#pa div#interestAreaFilter,
div#idox div#pa div#ordersFilter {
  background: #fefefe;
}
div#idox div#pa p.buttons input.button,
div#idox div#pa div.buttons input.button,
div#idox div#pa form#simpleSearchForm input.button,
div#idox div#pa div#resultsfilters input.button,
div#idox div#pa div#searchfilters input.button,
div#idox div#pa div#interestAreaFilter input.button {
  background: #993399;
  color: #ffffff !important;
  padding: 7px 20px;
  font-weight: 400;
  font-size: 14px;
  border-radius: 4px;
  border: 1px solid rgba(0, 0, 0, 0);
}
div#idox div#pa p.buttons input.button.primary,
div#idox div#pa div.buttons input.button.primary,
div#idox div#pa form#simpleSearchForm input.button.primary,
div#idox div#pa div#resultsfilters input.button.primary,
div#idox div#pa div#searchfilters input.button.primary,
div#idox div#pa div#interestAreaFilter input.button.primary {
  background: #993399;
  color: #fff !important;
}
div#idox div#pa p.buttons input.button:active,
div#idox div#pa div.buttons input.button:active,
div#idox div#pa form#simpleSearchForm input.button:active,
div#idox div#pa div#resultsfilters input.button:active,
div#idox div#pa div#searchfilters input.button:active,
div#idox div#pa div#interestAreaFilter input.button:active,
div#idox div#pa p.buttons input.button:hover,
div#idox div#pa div.buttons input.button:hover,
div#idox div#pa form#simpleSearchForm input.button:hover,
div#idox div#pa div#resultsfilters input.button:hover,
div#idox div#pa div#searchfilters input.button:hover,
div#idox div#pa div#interestAreaFilter input.button:hover,
div#idox div#pa p.buttons input.button:focus,
div#idox div#pa div.buttons input.button:focus,
div#idox div#pa form#simpleSearchForm input.button:focus,
div#idox div#pa div#resultsfilters input.button:focus,
div#idox div#pa div#searchfilters input.button:focus,
div#idox div#pa div#interestAreaFilter input.button:focus {
  background: #7c006b;
  color: #ffffff !important;
  border-color: #7c006b;
}
div#idox div#pa button#downloadFiles {
  background: #993399;
  color: #fff !important;
  padding: 7px 20px;
  font-weight: 400;
  font-size: 14px;
  border-radius: 4px;
  border: 1px solid rgba(0, 0, 0, 0);
}
div#idox div#pa button#downloadFiles:active,
div#idox div#pa button#downloadFiles:hover,
div#idox div#pa button#downloadFiles:focus {
  cursor: pointer;
  background: #7c006b;
  color: #ffffff !important;
  border-color: #7c006b;
}
div#idox div#pa button#downloadFiles:disabled {
  background: #993399;
  color: #fff !important;
  border: 1px solid rgba(0, 0, 0, 0);
  opacity: 0.7;
  cursor: not-allowed;
}
div#idox div#pa div#searchtools ul li img,
div#idox div#pa div#applicationTools ul li img,
div#idox div#pa div#enforcementTools ul li img,
div#idox div#pa div#appealsTools ul li img,
div#idox div#pa div#propertyTools ul li img,
div#idox div#pa div.consulteeCommentsTools ul li img {
  height: 33px;
  width: auto;
}
div#idox div#pa div#searchtools ul li form,
div#idox div#pa div#applicationTools ul li form,
div#idox div#pa div#enforcementTools ul li form,
div#idox div#pa div#appealsTools ul li form,
div#idox div#pa div#propertyTools ul li form,
div#idox div#pa div.consulteeCommentsTools ul li form {
  display: inline-block;
}
div#idox div#pa div#searchtools ul li form input,
div#idox div#pa div#applicationTools ul li form input,
div#idox div#pa div#enforcementTools ul li form input,
div#idox div#pa div#appealsTools ul li form input,
div#idox div#pa div#propertyTools ul li form input,
div#idox div#pa div.consulteeCommentsTools ul li form input {
  border: none;
}
div#idox div#pa div#searchtools ul li share-button,
div#idox div#pa div#applicationTools ul li share-button,
div#idox div#pa div#enforcementTools ul li share-button,
div#idox div#pa div#appealsTools ul li share-button,
div#idox div#pa div#propertyTools ul li share-button,
div#idox div#pa div.consulteeCommentsTools ul li share-button {
  background: none;
  padding: 0;
  display: inline-block !important;
  margin-left: 0.5em;
}
div#idox div#pa div#searchtools ul li share-button div.simpleSocialShareMainBlockContainer,
div#idox div#pa div#applicationTools ul li share-button div.simpleSocialShareMainBlockContainer,
div#idox div#pa div#enforcementTools ul li share-button div.simpleSocialShareMainBlockContainer,
div#idox div#pa div#appealsTools ul li share-button div.simpleSocialShareMainBlockContainer,
div#idox div#pa div#propertyTools ul li share-button div.simpleSocialShareMainBlockContainer,
div#idox div#pa div.consulteeCommentsTools ul li share-button div.simpleSocialShareMainBlockContainer {
  display: inline-block;
}
div#idox div#pa div#searchtools ul li share-button div.simpleSocialShareMainBlockContainer div.simpleSocialShareTableCell,
div#idox div#pa div#applicationTools ul li share-button div.simpleSocialShareMainBlockContainer div.simpleSocialShareTableCell,
div#idox div#pa div#enforcementTools ul li share-button div.simpleSocialShareMainBlockContainer div.simpleSocialShareTableCell,
div#idox div#pa div#appealsTools ul li share-button div.simpleSocialShareMainBlockContainer div.simpleSocialShareTableCell,
div#idox div#pa div#propertyTools ul li share-button div.simpleSocialShareMainBlockContainer div.simpleSocialShareTableCell,
div#idox div#pa div.consulteeCommentsTools ul li share-button div.simpleSocialShareMainBlockContainer div.simpleSocialShareTableCell {
  vertical-align: top;
}
div#idox div#pa div#searchtools ul li share-button div.simpleSocialShareMainBlockContainer div.simpleSocialShareTableCell ul li.simpleSocialShareSiteContainer,
div#idox div#pa div#applicationTools ul li share-button div.simpleSocialShareMainBlockContainer div.simpleSocialShareTableCell ul li.simpleSocialShareSiteContainer,
div#idox div#pa div#enforcementTools ul li share-button div.simpleSocialShareMainBlockContainer div.simpleSocialShareTableCell ul li.simpleSocialShareSiteContainer,
div#idox div#pa div#appealsTools ul li share-button div.simpleSocialShareMainBlockContainer div.simpleSocialShareTableCell ul li.simpleSocialShareSiteContainer,
div#idox div#pa div#propertyTools ul li share-button div.simpleSocialShareMainBlockContainer div.simpleSocialShareTableCell ul li.simpleSocialShareSiteContainer,
div#idox div#pa div.consulteeCommentsTools ul li share-button div.simpleSocialShareMainBlockContainer div.simpleSocialShareTableCell ul li.simpleSocialShareSiteContainer {
  background-size: 45%;
  height: 25px;
  margin: 0;
}
div#idox div#pa div#searchtools ul li share-button div.simpleSocialShareMainBlockContainer div.simpleSocialShareTableCell ul li.simpleSocialShareSiteContainer:active,
div#idox div#pa div#applicationTools ul li share-button div.simpleSocialShareMainBlockContainer div.simpleSocialShareTableCell ul li.simpleSocialShareSiteContainer:active,
div#idox div#pa div#enforcementTools ul li share-button div.simpleSocialShareMainBlockContainer div.simpleSocialShareTableCell ul li.simpleSocialShareSiteContainer:active,
div#idox div#pa div#appealsTools ul li share-button div.simpleSocialShareMainBlockContainer div.simpleSocialShareTableCell ul li.simpleSocialShareSiteContainer:active,
div#idox div#pa div#propertyTools ul li share-button div.simpleSocialShareMainBlockContainer div.simpleSocialShareTableCell ul li.simpleSocialShareSiteContainer:active,
div#idox div#pa div.consulteeCommentsTools ul li share-button div.simpleSocialShareMainBlockContainer div.simpleSocialShareTableCell ul li.simpleSocialShareSiteContainer:active,
div#idox div#pa div#searchtools ul li share-button div.simpleSocialShareMainBlockContainer div.simpleSocialShareTableCell ul li.simpleSocialShareSiteContainer:hover,
div#idox div#pa div#applicationTools ul li share-button div.simpleSocialShareMainBlockContainer div.simpleSocialShareTableCell ul li.simpleSocialShareSiteContainer:hover,
div#idox div#pa div#enforcementTools ul li share-button div.simpleSocialShareMainBlockContainer div.simpleSocialShareTableCell ul li.simpleSocialShareSiteContainer:hover,
div#idox div#pa div#appealsTools ul li share-button div.simpleSocialShareMainBlockContainer div.simpleSocialShareTableCell ul li.simpleSocialShareSiteContainer:hover,
div#idox div#pa div#propertyTools ul li share-button div.simpleSocialShareMainBlockContainer div.simpleSocialShareTableCell ul li.simpleSocialShareSiteContainer:hover,
div#idox div#pa div.consulteeCommentsTools ul li share-button div.simpleSocialShareMainBlockContainer div.simpleSocialShareTableCell ul li.simpleSocialShareSiteContainer:hover,
div#idox div#pa div#searchtools ul li share-button div.simpleSocialShareMainBlockContainer div.simpleSocialShareTableCell ul li.simpleSocialShareSiteContainer:focus,
div#idox div#pa div#applicationTools ul li share-button div.simpleSocialShareMainBlockContainer div.simpleSocialShareTableCell ul li.simpleSocialShareSiteContainer:focus,
div#idox div#pa div#enforcementTools ul li share-button div.simpleSocialShareMainBlockContainer div.simpleSocialShareTableCell ul li.simpleSocialShareSiteContainer:focus,
div#idox div#pa div#appealsTools ul li share-button div.simpleSocialShareMainBlockContainer div.simpleSocialShareTableCell ul li.simpleSocialShareSiteContainer:focus,
div#idox div#pa div#propertyTools ul li share-button div.simpleSocialShareMainBlockContainer div.simpleSocialShareTableCell ul li.simpleSocialShareSiteContainer:focus,
div#idox div#pa div.consulteeCommentsTools ul li share-button div.simpleSocialShareMainBlockContainer div.simpleSocialShareTableCell ul li.simpleSocialShareSiteContainer:focus {
  background-blend-mode: overlay;
}
div#idox div#pa div#searchtools ul li share-button div.simpleSocialShareMainBlockContainer div.simpleSocialShareTableCell div.simpleSocialShareButton,
div#idox div#pa div#applicationTools ul li share-button div.simpleSocialShareMainBlockContainer div.simpleSocialShareTableCell div.simpleSocialShareButton,
div#idox div#pa div#enforcementTools ul li share-button div.simpleSocialShareMainBlockContainer div.simpleSocialShareTableCell div.simpleSocialShareButton,
div#idox div#pa div#appealsTools ul li share-button div.simpleSocialShareMainBlockContainer div.simpleSocialShareTableCell div.simpleSocialShareButton,
div#idox div#pa div#propertyTools ul li share-button div.simpleSocialShareMainBlockContainer div.simpleSocialShareTableCell div.simpleSocialShareButton,
div#idox div#pa div.consulteeCommentsTools ul li share-button div.simpleSocialShareMainBlockContainer div.simpleSocialShareTableCell div.simpleSocialShareButton,
div#idox div#pa div#searchtools ul li share-button div.simpleSocialShareMainBlockContainer div.simpleSocialShareTableCell div.simpleSocialShareButtonActive,
div#idox div#pa div#applicationTools ul li share-button div.simpleSocialShareMainBlockContainer div.simpleSocialShareTableCell div.simpleSocialShareButtonActive,
div#idox div#pa div#enforcementTools ul li share-button div.simpleSocialShareMainBlockContainer div.simpleSocialShareTableCell div.simpleSocialShareButtonActive,
div#idox div#pa div#appealsTools ul li share-button div.simpleSocialShareMainBlockContainer div.simpleSocialShareTableCell div.simpleSocialShareButtonActive,
div#idox div#pa div#propertyTools ul li share-button div.simpleSocialShareMainBlockContainer div.simpleSocialShareTableCell div.simpleSocialShareButtonActive,
div#idox div#pa div.consulteeCommentsTools ul li share-button div.simpleSocialShareMainBlockContainer div.simpleSocialShareTableCell div.simpleSocialShareButtonActive {
  padding: 0;
  height: 33px;
  line-height: normal;
  display: inline-block !important;
  background: url('../images/button_share.gif');
  width: 98px;
  color: rgba(0, 0, 0, 0);
  border: none;
  text-shadow: none;
  margin-right: 2px;
}
div#idox div#pa div#searchtools ul li a:active,
div#idox div#pa div#applicationTools ul li a:active,
div#idox div#pa div#enforcementTools ul li a:active,
div#idox div#pa div#appealsTools ul li a:active,
div#idox div#pa div#propertyTools ul li a:active,
div#idox div#pa div.consulteeCommentsTools ul li a:active,
div#idox div#pa div#searchtools ul li share-button:active,
div#idox div#pa div#applicationTools ul li share-button:active,
div#idox div#pa div#enforcementTools ul li share-button:active,
div#idox div#pa div#appealsTools ul li share-button:active,
div#idox div#pa div#propertyTools ul li share-button:active,
div#idox div#pa div.consulteeCommentsTools ul li share-button:active,
div#idox div#pa div#searchtools ul li form:active,
div#idox div#pa div#applicationTools ul li form:active,
div#idox div#pa div#enforcementTools ul li form:active,
div#idox div#pa div#appealsTools ul li form:active,
div#idox div#pa div#propertyTools ul li form:active,
div#idox div#pa div.consulteeCommentsTools ul li form:active,
div#idox div#pa div#searchtools ul li a:hover,
div#idox div#pa div#applicationTools ul li a:hover,
div#idox div#pa div#enforcementTools ul li a:hover,
div#idox div#pa div#appealsTools ul li a:hover,
div#idox div#pa div#propertyTools ul li a:hover,
div#idox div#pa div.consulteeCommentsTools ul li a:hover,
div#idox div#pa div#searchtools ul li share-button:hover,
div#idox div#pa div#applicationTools ul li share-button:hover,
div#idox div#pa div#enforcementTools ul li share-button:hover,
div#idox div#pa div#appealsTools ul li share-button:hover,
div#idox div#pa div#propertyTools ul li share-button:hover,
div#idox div#pa div.consulteeCommentsTools ul li share-button:hover,
div#idox div#pa div#searchtools ul li form:hover,
div#idox div#pa div#applicationTools ul li form:hover,
div#idox div#pa div#enforcementTools ul li form:hover,
div#idox div#pa div#appealsTools ul li form:hover,
div#idox div#pa div#propertyTools ul li form:hover,
div#idox div#pa div.consulteeCommentsTools ul li form:hover,
div#idox div#pa div#searchtools ul li a:focus,
div#idox div#pa div#applicationTools ul li a:focus,
div#idox div#pa div#enforcementTools ul li a:focus,
div#idox div#pa div#appealsTools ul li a:focus,
div#idox div#pa div#propertyTools ul li a:focus,
div#idox div#pa div.consulteeCommentsTools ul li a:focus,
div#idox div#pa div#searchtools ul li share-button:focus,
div#idox div#pa div#applicationTools ul li share-button:focus,
div#idox div#pa div#enforcementTools ul li share-button:focus,
div#idox div#pa div#appealsTools ul li share-button:focus,
div#idox div#pa div#propertyTools ul li share-button:focus,
div#idox div#pa div.consulteeCommentsTools ul li share-button:focus,
div#idox div#pa div#searchtools ul li form:focus,
div#idox div#pa div#applicationTools ul li form:focus,
div#idox div#pa div#enforcementTools ul li form:focus,
div#idox div#pa div#appealsTools ul li form:focus,
div#idox div#pa div#propertyTools ul li form:focus,
div#idox div#pa div.consulteeCommentsTools ul li form:focus {
  opacity: 0.7 !important;
}
div#idox div#pa div#searchtools ul li a:active img,
div#idox div#pa div#applicationTools ul li a:active img,
div#idox div#pa div#enforcementTools ul li a:active img,
div#idox div#pa div#appealsTools ul li a:active img,
div#idox div#pa div#propertyTools ul li a:active img,
div#idox div#pa div.consulteeCommentsTools ul li a:active img,
div#idox div#pa div#searchtools ul li share-button:active img,
div#idox div#pa div#applicationTools ul li share-button:active img,
div#idox div#pa div#enforcementTools ul li share-button:active img,
div#idox div#pa div#appealsTools ul li share-button:active img,
div#idox div#pa div#propertyTools ul li share-button:active img,
div#idox div#pa div.consulteeCommentsTools ul li share-button:active img,
div#idox div#pa div#searchtools ul li form:active img,
div#idox div#pa div#applicationTools ul li form:active img,
div#idox div#pa div#enforcementTools ul li form:active img,
div#idox div#pa div#appealsTools ul li form:active img,
div#idox div#pa div#propertyTools ul li form:active img,
div#idox div#pa div.consulteeCommentsTools ul li form:active img,
div#idox div#pa div#searchtools ul li a:hover img,
div#idox div#pa div#applicationTools ul li a:hover img,
div#idox div#pa div#enforcementTools ul li a:hover img,
div#idox div#pa div#appealsTools ul li a:hover img,
div#idox div#pa div#propertyTools ul li a:hover img,
div#idox div#pa div.consulteeCommentsTools ul li a:hover img,
div#idox div#pa div#searchtools ul li share-button:hover img,
div#idox div#pa div#applicationTools ul li share-button:hover img,
div#idox div#pa div#enforcementTools ul li share-button:hover img,
div#idox div#pa div#appealsTools ul li share-button:hover img,
div#idox div#pa div#propertyTools ul li share-button:hover img,
div#idox div#pa div.consulteeCommentsTools ul li share-button:hover img,
div#idox div#pa div#searchtools ul li form:hover img,
div#idox div#pa div#applicationTools ul li form:hover img,
div#idox div#pa div#enforcementTools ul li form:hover img,
div#idox div#pa div#appealsTools ul li form:hover img,
div#idox div#pa div#propertyTools ul li form:hover img,
div#idox div#pa div.consulteeCommentsTools ul li form:hover img,
div#idox div#pa div#searchtools ul li a:focus img,
div#idox div#pa div#applicationTools ul li a:focus img,
div#idox div#pa div#enforcementTools ul li a:focus img,
div#idox div#pa div#appealsTools ul li a:focus img,
div#idox div#pa div#propertyTools ul li a:focus img,
div#idox div#pa div.consulteeCommentsTools ul li a:focus img,
div#idox div#pa div#searchtools ul li share-button:focus img,
div#idox div#pa div#applicationTools ul li share-button:focus img,
div#idox div#pa div#enforcementTools ul li share-button:focus img,
div#idox div#pa div#appealsTools ul li share-button:focus img,
div#idox div#pa div#propertyTools ul li share-button:focus img,
div#idox div#pa div.consulteeCommentsTools ul li share-button:focus img,
div#idox div#pa div#searchtools ul li form:focus img,
div#idox div#pa div#applicationTools ul li form:focus img,
div#idox div#pa div#enforcementTools ul li form:focus img,
div#idox div#pa div#appealsTools ul li form:focus img,
div#idox div#pa div#propertyTools ul li form:focus img,
div#idox div#pa div.consulteeCommentsTools ul li form:focus img {
  opacity: 0.7 !important;
}
div#idox div#pa p.pager {
  padding: 15px 10px !important;
}
div#idox div#pa p.pager strong {
  background: #993399;
  border-color: #732673;
  padding: 1px 5px;
  border-radius: 4px;
}
div#idox div#pa p.pager a {
  padding: 1px 5px !important;
  border-radius: 4px !important;
}
div#idox div#pa p.pager a:active,
div#idox div#pa p.pager a:hover,
div#idox div#pa p.pager a:focus {
  background: #7c006b !important;
  color: #ffffff !important;
}
div#idox div#pa p.pager span.expandCollapse {
  margin-top: -2px;
  margin-left: 10px;
}
div#idox div#pa form input.text,
div#idox div#pa form input.password,
div#idox div#pa form input.date,
div#idox div#pa form input[type="input"],
div#idox div#pa form select,
div#idox div#pa form textarea {
  font-family: 'Varela Round', sans-serif;
  font-size: 15px;
  padding: 6px 12px;
  border-radius: 3px;
}
div#idox div#pa form select {
  width: 39%;
}
div#idox div#pa form label,
div#idox div#pa form span.label {
  margin-top: 0.5em;
}
div#idox div#pa form#searchForm fieldset {
  background: rgba(0, 0, 0, 0);
}
div#idox div#pa div.row div.col-dateFrom,
div#idox div#pa div.row div.col-dateTo {
  width: 400px;
}
div#idox div#pa div.row div.col-dateFrom img,
div#idox div#pa div.row div.col-dateTo img {
  height: 16px;
}
div#idox div#pa div.timeRow div.col-timeFrom,
div#idox div#pa div.timeRow div.col-timeTo {
  width: 400px;
}
div#idox div#pa table th {
  color: #666 !important;
}
div#idox div#pa table#trackedApplications th,
div#idox div#pa table#notifiedApplications th,
div#idox div#pa table#savedSearches th,
div#idox div#pa table.consultationRequests th {
  background: #ffffff;
}
div#idox div#pa div.messagebox.errors {
  background-position: 1.25em 1.25em !important;
}
div#idox div#pa p.pagehelp {
  background: url('../images/help.gif') 8px 3px no-repeat;
}
div#idox div#pa p.forgottenPassword {
  padding-left: 20px;
}
div#idox div#pa p.bulk_docs_info {
  font-weight: bold;
}
div#idox div#pa a#searchresultsback,
div#idox div#pa a.formsdashboardback {
  background-position: 0 10px;
}
div#idox div#pa a#searchresultsback:active,
div#idox div#pa a.formsdashboardback:active,
div#idox div#pa a#searchresultsback:hover,
div#idox div#pa a.formsdashboardback:hover,
div#idox div#pa a#searchresultsback:focus,
div#idox div#pa a.formsdashboardback:focus {
  opacity: 1;
  text-decoration: underline;
}
div#idox div#pa #backLink a {
  background-position: 0 8px;
}
div#idox div#pa div.panel {
  padding: 20px !important;
}
div#idox div#pa div.panel.enforcement p.pager {
  padding: 0 !important;
}
div#idox div#pa div.panel.enforcement p.pager span.expandCollapse {
  top: -8px !important;
  right: 375px !important;
}
div#idox div#pa div#resultsfilters {
  background: #f7f7f7;
}
div#idox div#pa #commentsContainer.tabcontainer {
  background: #fefefe;
}
div#idox div#pa #commentsContainer.tabcontainer ul.summaryStats {
  border: none;
  padding: 0;
  margin: 10px 0;
}
div#idox div#pa #commentsContainer.tabcontainer ul.summaryStats a {
  margin-top: -8px;
}
div#idox div#pa #commentsContainer.tabcontainer ul.summaryStats a:active img,
div#idox div#pa #commentsContainer.tabcontainer ul.summaryStats a:hover img,
div#idox div#pa #commentsContainer.tabcontainer ul.summaryStats a:focus img {
  opacity: 0.7;
}
div#idox div#pa #commentsContainer.tabcontainer #commentsListContainer {
  background: none;
}
div#idox div#pa #searchfilters,
div#idox div#pa #interestAreaFilter {
  padding: 1em 0.5em 1em 1em;
}
div#idox div#pa div#terms input#agreeterms {
  margin: 0 5px 20px 30px;
}
div#idox div#pa div#terms input#agreeGDPR {
  margin: 20px 5px 10px 30px;
}
div#idox div#pa div#terms label#agreetermslabel span,
div#idox div#pa div#terms label#agreeGDPRlabel span {
  color: #aa0000;
}
div#idox div#pa div#terms label#agreetermslabel span.validateFail,
div#idox div#pa div#terms label#agreeGDPRlabel span.validateFail {
  margin: 0 0 10px 30px;
  display: inline-block;
  position: static;
}
div#idox div#pa #loggedOutBack a {
  background: url("../images/bullet_go.gif") 0 8px no-repeat;
  padding: 0.5em 0.5em 0.5em 1.5em;
}
div#idox div#pa a.btn {
  display: inline-block;
  font-weight: 400;
  text-align: center;
  white-space: nowrap;
  vertical-align: top;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  border: 1px solid transparent;
  padding: 7px 20px;
  font-size: 14px;
  line-height: 1.25;
  border-radius: 4px;
  transition: all 0.15s ease-in-out;
  background-color: #993399;
  color: #ffffff !important;
  cursor: pointer;
  width: auto;
  margin-right: 15px;
}
div#idox div#pa a.btn:hover,
div#idox div#pa a.btn:active,
div#idox div#pa a.btn:focus {
  background-color: #7c006b;
  border-color: #7c006b;
  text-decoration: none;
}
/** Popups **/
body#popup {
  background: #ffffff;
  font-family: 'Varela Round', sans-serif;
  font-size: 15px;
  line-height: 1.42;
  color: #333333 !important;
}
body#popup div#idox {
  padding: 0;
}
body#popup div#idox div#pa div#popupHeader,
body#popup div#idox div#pa div#consulteePopupHeader {
  margin: 0;
}
body#popup div#idox div#pa div#popupHeader h1,
body#popup div#idox div#pa div#consulteePopupHeader h1 {
  background-color: #993399;
  font-family: 'Varela Round', sans-serif;
  padding: 20px;
  color: #fff;
}
body#popup div#idox div#pa div#popupHeader div#buttons,
body#popup div#idox div#pa div#consulteePopupHeader div#buttons {
  padding: 20px 20px 0;
  border: none;
}
body#popup div#idox div#pa div#popupHeader div#buttons input.button.popup,
body#popup div#idox div#pa div#consulteePopupHeader div#buttons input.button.popup {
  background: #993399;
  color: #ffffff !important;
  padding: 7px 20px !important;
  font-weight: 400;
  font-size: 14px;
  border-radius: 4px;
  border: 1px solid rgba(0, 0, 0, 0);
}
body#popup div#idox div#pa div#popupHeader div#buttons input.button.popup:active,
body#popup div#idox div#pa div#consulteePopupHeader div#buttons input.button.popup:active,
body#popup div#idox div#pa div#popupHeader div#buttons input.button.popup:hover,
body#popup div#idox div#pa div#consulteePopupHeader div#buttons input.button.popup:hover,
body#popup div#idox div#pa div#popupHeader div#buttons input.button.popup:focus,
body#popup div#idox div#pa div#consulteePopupHeader div#buttons input.button.popup:focus {
  background: #7c006b;
  color: #ffffff !important;
}
body#popup div#idox div#pa div#popupContainer,
body#popup div#idox div#pa div#consulteePopupContainer {
  margin: 0;
  padding: 20px;
  background: #ffffff;
}
body#popup div#idox div#pa div#consulteePopupHeader h1 {
  font-size: 15px;
  margin: 0;
}
body#popup div#idox div#pa div#consulteePopupContainer ul.tabs li.active {
  color: #000 !important;
  border-color: #ddd;
  border-bottom: 1px solid rgba(0, 0, 0, 0);
  background: #fff;
  cursor: default;
  padding: 10px 15px !important;
  margin-right: 2px;
  margin-top: -4px;
  border-radius: 3px 3px 0 0 !important;
}
body#popup div#idox div#pa div#consulteePopupContainer form {
  border: none;
  padding: 0;
}
body#popup div#idox div#pa div#consulteePopupContainer form textarea {
  width: 96%;
}

